/* .hunting_container{
    background-image: url("https://i.ibb.co/G53FW47/ellips.png");
    background-repeat: no-repeat;
    background-position: bottom;
} */

/* search bar */
.search_container{
    border: 1px solid #D7D8D7;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 10%;
    /* padding: 20px auto; */
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 50px;
    background: rgb(38,42,39);
    background: linear-gradient(90deg, rgba(38,42,39,1) 0%, rgba(98,102,99,1) 22%, rgba(8,15,10,1) 100%);
}
.job_input{
    /* border: 1px solid #D7D8D7; */
    /* border: none; */
    border-radius: 10px;
    padding: 5px;
    width: 90%;
    background-color: transparent;
    background: rgb(8,15,10);
    background: linear-gradient(90deg, rgba(8,15,10,1) 0%, rgba(98,102,99,1) 77%, rgba(38,42,39,1) 100%);
}
.btn_job_search{
    border: 1px solid #D7D8D7;
    border-radius: 10px;
    padding: 5px;
    background-color: #475445;
}
.btn_see_more{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D7D8D7;
    border-radius: 10px;
    padding: 10px;
    background-color: #475445;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* cards */
.card-container{
    /* padding-top: 50px;
    padding-bottom: 50px; */
    padding: 50px 15px;
}
.single_card{
    padding: 50px 30px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(76,126,73,0.9626444327731093) 16%, rgba(18,31,18,1) 100%);
    width: 100%;
    border: 1px solid gray;
    border-radius: 20px;
    width: 330px;
    height: 450px;
    /* justify-content: center;
    align-items: center; */
}
.cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.extra_info{
    border: 1px solid rgb(255, 234, 208);
    border-radius: 35px;
    padding: 5px 8px;
    
    /* margin: 0 10px; */
    text-align: center;
    margin-right: 10px;
    font-size: 13px;
}
/* .btn_details{
    border: 1px solid antiquewhite;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #435544;

    cursor: pointer;
} */
.transparent{
    background-color: transparent;
}
.flex_item{
    display: flex;
    padding-top: 15px;
}
.job_title{
    padding: 20px 0;
}
.card_footer{
    justify-content: space-between;
}

