.brandContainer {
  width: 40vw;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.socialIcons {
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 10px;
}

.socialIcons img {
  width: 35px;
  height: 35px;
}

/* Center the form on the page */
.signin-form-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
}

/* Styling the form wrapper */
.signin-form-wrapper {
  background: #fff;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* max-width: 400px; Adjust width as necessary */
}

/* Form Header */
.signin-form-header {
  font-size: 24px;
  color: #333;
  margin-bottom: 1em;
  text-align: center;
}

/* Form */
.signin-form {
  display: flex;
  flex-direction: column;
}

/* Input fields */
.signin-form-input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.75em;
  margin-bottom: 1em;
  font-size: 1em;
  color: black;
  width: 100%;
}

.signin-form-input:focus {
  border-color: rgba(11, 21, 17, 0.9);
  outline: none;
}

/* Link to the sign-up page */
.signin-form-signup {
  text-align: right;
  font-size: 0.85em;
  margin-bottom: 1em;
  color: #333;
}

.signin-form-signup a {
  color: rgb(11, 21, 17);
  cursor: pointer;

  text-decoration: underline;
}

.signin-form-signup a:hover {
  text-decoration: underline;
}

/* Error Message */
.signin-error-message {
  color: #d9534f;
  padding: 0.5em 0;
  margin-bottom: 1em;
  text-align: center;
}

/* Submit Button */
.signin-form-button {
  background-color: rgba(11, 21, 17, 0.9);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.75em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1em;
}

.signin-form-button:hover {
  background-color: rgba(11, 21, 17, 0.75);
}

/* Divider Style */
.signin-form-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1em 0;
}

.signin-form-divider:before,
.signin-form-divider:after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.signin-form-divider:before {
  margin-right: 0.5em;
}

.signin-form-divider:after {
  margin-left: 0.5em;
}

.signin-form-divider span {
  color: rgb(11, 21, 17);
}

/* Google Sign-in Button */
.google-sign-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 1em;
  background-color: #fff;
  border-color: #ddd;
  cursor: pointer;
  transition: all 0.3s ease;
  color: rgb(100, 97, 97);

  gap: 15px;
  cursor: pointer;
  width: 100%;
}

.google-sign-in-button:hover {
  border-color: #c6c6c6;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .signin-form-container {
    padding: 1em;
  }

  .signin-form-wrapper {
    width: 90%;
    margin: auto;
  }
}
