/* search bar */
.search_container {
  border: 1px solid #d7d8d7;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 10%;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 50px;
  background: rgb(15, 19, 17);
  background: linear-gradient(
    90deg,
    rgba(15, 19, 17, 1) 0%,
    rgba(38, 42, 39, 1) 22%,
    rgba(63, 69, 66, 1) 100%
  );
}

.job_input {
  padding: 20px;
  padding: 5px;
  width: 90%;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid grey;
}
.job_input:focus {
  border: none;
  text-decoration: none;
}

.btn_job_search {
  border: 1px solid #d7d8d7;
  border-radius: 10px;
  padding: 5px;
  background-color: #475445;
}
.btn_job_search:hover {
  background-color: #627f5f;
}
.btn_see_more {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d7d8d7;
  border-radius: 10px;
  padding: 10px;
  background-color: #475445;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.btn_see_more:hover {
  background-color: #627f5f;
  box-shadow: 1px 5px 15px rgba(255, 255, 255, 0.207);
}

/* cards */
.card-container {
  padding: 50px 15px;
}
.single_card {
  padding: 50px 30px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #09120b 0%, #254027 23%, #5d9659 100%);
  width: 100%;
  border: 1px solid gray;
  border-radius: 20px;
  width: 330px;
  height: 450px;
  cursor: pointer;
}
.single_card:hover {
  box-shadow: 1px 5px 15px rgba(255, 255, 255, 0.409);
}
.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.transparent {
  background-color: transparent;
}

.job_title {
  background: transparent;
  padding: 20px 0;
}
.card_footer {
  justify-content: space-between;
}

.job_type {
  background: transparent;

  border: 1px solid rgb(255, 234, 208);
  border-radius: 35px;
  padding: 5px 8px;

  text-align: center;
  margin-right: 10px;
  font-size: 13px;
  width: 50%;
}

.loc_img {
  height: 2%;
  width: 7%;

  background: transparent;
}

.location_ {
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  padding-bottom: 10px;
}

.company_ {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.company_ img {
  background: transparent;

  width: 40px;
  height: 40px;
}
