.addComponent-form-container {
  background: transparent;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: start;
  height: 100vh;
}

.addComponent-form-wrapper {
  background: #8179798e !important;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.addComponent-form-wrapper form {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.input-label-container {
  display: flex;
  flex-direction: column;
}
.addComponent-form-input {
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.75em;
  margin-bottom: 1em;
  font-size: 1em;
  color: black;
  width: 400px;
}

.addComponent-form-input:focus {
  border-color: rgba(11, 21, 17, 0.9);
  outline: none;
}

.addComponent-form-label {
  background: transparent;
  font-size: 0.875rem;
  font-weight: bold;
  color: gray;
}

.addComponent-form-button {
  background-color: rgba(11, 21, 17, 0.9);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.75em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1em;

  width: 250px;
}

.addComponent-form-button:hover {
  background-color: rgba(11, 21, 17, 0.75);
}
