.home-banner {
  height: 50vh;
  background-image: url("../../assets/home-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.homeBanner-quotes {
  background-color: transparent;
  padding-bottom: 4%;

  font-size: x-large;
  font-weight: bold;
  text-shadow: -1px 5px 3px rgba(0, 0, 0, 0.6);
}

/* ----------------------------------- */
#main-slider-container {
  margin-bottom: 30px;
  height: 100%;
}
.CardSlider_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CardSlider_container h2 {
  padding: 15px;
  padding-top: 40px;
  font-size: x-large;
}

.slider-card {
  width: 250px;
  height: 250px;

  background: rgb(25, 88, 78);
  background: linear-gradient(
    34deg,
    rgba(25, 88, 78, 1) 0%,
    rgba(0, 18, 15, 1) 100%
  );

  margin-left: 10px;
  margin-right: 10px;

  /* display: flex; */
}

.slider-card-image {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}
.slider-card-title {
  background-color: transparent;
  /* text-align: center; */
}

.slider-icon {
  background-color: #0fa958 !important;
}
.slider-icon.right {
  right: -50px;
}

.slider-icon.left {
  left: -40px;
}

.slider-card-description {
  /* width: 100%; */
}

/* ----------------------------Reviews---------------------- */
.reviews {
  padding-bottom: 40px;
}
.reviews h2 {
  text-align: center;
}
