.home-banner {
  height: 50vh;
  background-image: url("../../assets/home-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.homeBanner-quotes {
  background-color: transparent;
  padding-bottom: 4%;

  font-size: x-large;
  font-weight: bold;
  text-shadow: -1px 5px 3px rgba(0, 0, 0, 0.6);
}

/* ----------------------------------- */
#main-slider-container {
  margin-bottom: 30px;
  height: 100%;
}
.CardSlider_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CardSlider_container h2 {
  padding: 15px;
  padding-top: 40px;
  font-size: x-large;
}

.slider-card {
  width: 250px;
  height: 250px;

  background: rgb(25, 88, 78);
  background: linear-gradient(
    34deg,
    rgba(25, 88, 78, 1) 0%,
    rgba(0, 18, 15, 1) 100%
  );

  margin-left: 10px;
  margin-right: 10px;

  /* display: flex; */
}

.slider-card-image {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}
.slider-card-title {
  background-color: transparent;
  /* text-align: center; */
}

.slider-icon {
  background-color: #0fa958 !important;
}
.slider-icon.right {
  right: -50px;
}

.slider-icon.left {
  left: -40px;
}

.slider-card-description {
  /* width: 100%; */
}

/* ----------------------------Reviews---------------------- */

.review {
  margin: auto;
  width: 60vw;
  background-color: rgba(55, 173, 130, 0.488) !important;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
  margin-bottom: 30px;
}

.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background-color: transparent;
}

.author {
  margin-bottom: 0.25rem;
  background-color: transparent;
  color: rgb(255, 255, 255);
}
.job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 0.85rem;
}
.info {
  margin-bottom: 0.75rem;
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.button-container {
  background-color: transparent;
}
.prev-btn,
.next-btn {
  color: var(--clr-primary-7);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-5);
}
.random-btn {
  margin-top: 0.5rem;
  background: var(--clr-primary-10);
  color: var(--clr-primary-5);
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  transition: var(--transition);
  border-color: transparent;
  cursor: pointer;
}
.random-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
}
