/* search bar */
.search_container{
    border: 1px solid #D7D8D7;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 10%;
    /* padding: 20px auto; */
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 50px;
    background: rgb(38,42,39);
    background: linear-gradient(90deg, rgba(38,42,39,1) 0%, rgba(98,102,99,1) 22%, rgba(8,15,10,1) 100%);
}
.job_input{
    /* border: 1px solid #D7D8D7; */
    /* border: none; */
    border-radius: 10px;
    padding: 5px;
    width: 90%;
    background-color: transparent;
    background: rgb(8,15,10);
    background: linear-gradient(90deg, rgba(8,15,10,1) 0%, rgba(98,102,99,1) 77%, rgba(38,42,39,1) 100%);
}
.btn_job_search{
    border: 1px solid #D7D8D7;
    border-radius: 10px;
    padding: 5px;
    background-color: #475445;
}