/* Main Layout */
.main_layout {
  background-color: #050e0c;
  color: white;
}

/* Dashboard Layout */
.dashboard_layout {
  display: flex;
}

.dashboard_sidebar {
  flex: 1;
  color: white;
  background: gray;
  background: rgb(31, 37, 40);
  background: linear-gradient(
    128deg,
    rgba(31, 37, 40, 1) 0%,
    rgba(33, 107, 37, 1) 55%,
    rgba(35, 99, 39, 1) 67%,
    rgba(3, 10, 6, 1) 100%
  );
}

.dashboard_outlet {
  flex: 3;
  background-color: rgb(4, 22, 4);
  height: 100vh;

  color: white;
  padding: 50px;

  overflow-y: scroll;
}


