/* Main Layout */
.main_layout {
  background-color: #050e0c;
  color: white;
}

/* Dashboard Layout */
.dashboard_layout {
  display: flex;
}

.dashboard_sidebar{
  flex: 1;
  /* height: 100vh; */
  background: gray;
}

.dashboard_outlet {
  flex: 3;
  background-color: green;
  height: 100vh;
}



.sideBar {
  background-color: red;
}
.dashboardTop {
  margin-left: 300px;
  transition: margin-left 0.2s ease-in;

  background-color: teal !important;
}
.rightContainer {
  margin-left: 300px;
  transition: margin-left 0.2s ease-in;
  padding: 50px;
  height: 100vh;

  background-color: green;
}

.rightContainer.inactive {
  margin-left: 80px;
}
.dashboardTop.inactive {
  margin-left: 80px;
}

@media only screen and (max-width: 767px) {
  .dashboardTop {
    display: none;
  }
  .rightContainer {
    padding: 20px;
  }
}
